@import '../../../styles/main.scss';

.hero {
  height: 100%;
  background: $background;
  animation: fadein ease-in 1.5s;

  .header-container {
    position: absolute;
    width: 100%;
    z-index: 1;
    height: 100%;
  }

  .title {
    color: $onBackground;
    font-size: 12rem;

    font-family: 'Noto Serif';
    letter-spacing: 1rem;

    @media #{$tabletOnly} {
      font-size: 10rem;
    }
    @media #{$mobileOnly} {
      font-size: 5rem;
    }
  }
}
