@import '../../../styles/main.scss';

.hero {
  height: 100%;
  background: $background;
  // position: stati
  // background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  //   url('../../../assets/target-person.jpg');
  // background-image: url('../../../assets/target-person.jpg');
  //   url('../../../assets/target-person-small.jpg');
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;

  // @keyframes fadein {
  //   from {
  //     opacity: 0;
  //   }
  //   to {
  //     opacity: 1;
  //   }
  // }

  // animation-name: fadein;
  // animation-duration: 1.5s;
  // animation-timing-function: ease-in;
  // animation-fill-mode: both;
  // animation-delay: 3s;

  .header-container {
    position: absolute;
    width: 100%;
    z-index: 1;
  }
  .title {
    color: white;
  }
}
