@import '../../../styles/main.scss';

.hero {
  height: 100%;
  background: $background;

  .header-container {
    position: absolute;
    width: 100%;
    z-index: 1;
    height: 100%;
  }
  .title {
    color: white;
  }
}
