@import '../../../../../../styles/main.scss';

.hamburger {
  display: flex;
  background: transparent;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  cursor: pointer;
  padding: 0;

  &:focus {
    outline: none;
  }

  .bar {
    width: 2.5rem;
    height: 0.2rem;

    background: $onBackground;

    &.open {
      background: $onSecondaryBackground;
    }

    border-radius: 10px;
    transition: all 0.3s linear;
    position: relative;
    transform-origin: 1px;

    &.top {
      transform: rotate(0);

      &.open {
        transform: rotate(45deg);
      }
    }

    &.middle {
      transform: translateX(0);
      opacity: 1;
      &.open {
        transform: translateX(40px);
        opacity: 0;
      }
    }

    &.bottom {
      transform: rotate(0);
      &.open {
        transform: rotate(-45deg);
      }
    }
  }
}
