@import '../../styles/main.scss';

.header {
  background: red;
  max-width: 140rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem;

  .navbar {
    display: flex;

    li {
      margin-right: 5rem;

      a {
        text-transform: uppercase;
        color: white;
        letter-spacing: 2px;
      }
    }
    li:last-child {
      margin-right: 0;
    }
  }

  @media #{$mobileOnly} {
    .not-mobile {
      display: none;
    }
    .mobile-menu {
      display: flex;
    }
  }

  @media #{$notMobile} {
    .not-mobile {
      display: flex;
    }
    .mobile-menu {
      display: none;
    }
  }
}
