@import '../../styles/main.scss';

.header {
  background: red;
  max-width: 140rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem;

  @media #{$mobileOnly} {
    .not-mobile {
      display: none;
    }
    .mobile-menu {
      display: flex;
    }
  }

  @media #{$notMobile} {
    .not-mobile {
      display: flex;
    }
    .mobile-menu {
      display: none;
    }
  }
}
