@import '../../styles/main.scss';

.header {
  background: red;
  max-width: 140rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem;

  @media #{$mobileOnly} {
    .not-mobile {
      display: none;
    }
    .mobile {
      display: flex;
    }
  }

  @media #{$notMobile} {
    .not-mobile {
      display: flex;
    }
    .mobile {
      display: none;
    }
  }

  .desktop-menu {
    display: flex;

    li {
      margin-right: 5rem;

      a {
        text-transform: uppercase;
        color: white;
        letter-spacing: 2px;
        font-size: 1.2rem;
      }
    }
    li:last-child {
      margin-right: 0;
    }
  }
  .mobile-menu {
    li {
      margin-bottom: 3rem;
      a {
        text-transform: uppercase;
        color: black;
        letter-spacing: 2px;
        font-size: 2rem;
      }
    }
  }
}
